body {
  font-family: monospace !important;
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
  margin: 0;
}

* {
  /* outline: dashed 0.1px; */
}

:root {
  font-size: 62.5%;
}

.pokedex {
  max-width: 1200px;
  min-height: 36vh;
}

div.white-card {
  border-top-left-radius: 1.5em !important;
  border-top-right-radius: 1.5em !important;
}

.pokemon-bio {
  cursor: pointer;
  background: #fc787b;
}

.grass-type {
  background: #8ab181;
  background: -moz-linear-gradient(top, #8ab181 2%, #a7dda1 100%);
  background: -webkit-linear-gradient(top, #8ab181 2%, #a7dda1 100%);
  background: linear-gradient(to bottom, #8ab181 2%, #a7dda1 100%);
}

.fire-type {
  background: #ff8b78;
  background: -moz-linear-gradient(top, #ff8b78 2%, #ff8b78 100%);
  background: -webkit-linear-gradient(top, #ff8b78 2%, #ff8b78 100%);
  background: linear-gradient(to bottom, #ff8b78 2%, #ff8b78 100%);
}

.water-type {
background: #add2ff;
background: -moz-linear-gradient(top,  #add2ff 2%, #a1c9ed 99%);
background: -webkit-linear-gradient(top,  #add2ff 2%,#a1c9ed 99%);
background: linear-gradient(to bottom,  #add2ff 2%,#a1c9ed 99%);
}

img.search {
  width: 15px;
  top: 32% !important;
}

input {
  background: rgb(228, 228, 228);
  border: none;
  outline: none;
}

div.pokedex {
  min-width: 50vw;
}

#page-numbers {
  list-style: none;
  display: flex;
  justify-content: start;
  cursor: pointer;
}

.page-number:hover {
  color: red;
}

.pokemon-image {
  top: 27%;
}

@keyframes jump {
  0% {
    transform: translate3d(0, 10px, 0) scale3d(1, 1, 1);
  }

  50% {
    transform: translate3d(0, 0px, 0) scale3d(1.025, 1, 1);
  }

  100% {
    transform: translate3d(0, 10px, 0) scale3d(1, 1.1, 1);
  }
}

.pokemon-bio:hover>div>div>div {
  animation: jump 0.5s linear alternate infinite;
}