@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body {
  margin: 0;
  margin-top: 5vh;
  overflow-y: scroll;
  min-width: 350px;
}

* {
  font-family: "Press Start 2P", cursive;
  /* outline: dashed 0.1px; */
}

:root {
  font-size: 60%;
  --black: rgb(31, 31, 31);
  --red: #ff3514;
}

#root > div {
  max-width: 1000px;
  /* min-height: 90vh; */
  margin: 2.5em auto;
}

.active, ::selection {
  background-color: var(--red)!important;
  color: white;
}

#root > div > div {
  min-height: 50vh;
}

.pokemon-wrapper{
  min-height: 70vh;
  place-content: flex-start;}

div.white-card {
  border-top-left-radius: 1.5em !important;
  border-top-right-radius: 1.5em !important;
}

.pokemon-bio {
  cursor: pointer;
  max-height: 25vh;
}

.filter-btn {
  text-shadow: 2px 2px var(--black);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 0.4em;
  border: none;
  background-color: var(--red);
}

.clear-btn {
  color: black;
  position: relative;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
}

.clear-btn::before {
  content: "\00d7";
  position: absolute;
  right: -0.5em;
  top: 0;
}

.grass-type {
  background: #7c9f74;
  background: -moz-linear-gradient(top, #7c9f74 25%, #7c9f74 25%, #8ab181 77%);
}

.fire-type {
  background: #ff8b78;
  background: -moz-linear-gradient(top, #ff8b78 26%, #ff8b78 77%);
}

.water-type {
  background: #9bbde5;
  background: -moz-linear-gradient(top, #9bbde5 26%, #add2ff 77%);
}

.poison-type {
  background: #c266c2;
  background: -moz-linear-gradient(top, #c266c2 26%, #c875c8 77%);
}

.bug-type {
  background: #b2bf45;
  background: -moz-linear-gradient(top, #b2bf45 26%, #c1cb6a 77%);
}

.normal-type {
  background: #c9c98c;
  background: -moz-linear-gradient(top, #c9c98c 28%, #d3d3a3 77%);
}

.electric-type {
  background: #edcd2f;
  background: -moz-linear-gradient(top, #edcd2f 28%, #f0d758 77%);
}

.ground-type {
  background: #ba9c49;
  background: -moz-linear-gradient(top, #ba9c49 28%, #cfae52 77%);
}

.fighting-type {
  background: #c6443d;
  background: -moz-linear-gradient(top, #c6443d 28%, #d26e68 77%);
}

.psychic-type {
  background: #f1769b;
  background: -moz-linear-gradient(top, #f1769b 28%, #f391af 77%);
}

.rock-type {
  background: #807027;
  background: -moz-linear-gradient(top, #807027 28%, #93802c 77%);
}

.ice-type {
  background: #98d8d8;
  background: -moz-linear-gradient(top, #98d8d8 28%, #a2dbdb 77%);
}

.dragon-type {
  background: #8d5eff;
  background: -moz-linear-gradient(top, #8d5eff 28%, #9a70ff 77%);
}

.ghost-type {
  background: #644f88;
  background: -moz-linear-gradient(top, #644f88 28%, #594679 77%);
}

.background {
  background-image: url("../src/assets//icons/pokeball.svg");
  background-position: 15vh;
  background-repeat: no-repeat;
  background-size: 90%;
}

.input-group {
  width: 85% !important;
  overflow: hidden;
}

input {
  border: none;
  outline: none;
  padding-left: 3.5em;
}

.input-icon{
  height: 20px;
  cursor: pointer;
  top: 0;
  left: 0;
  background-size: 20px;
  background-position: 5px;
  padding-left: 3.5em;
}

span.not-typing{
  background: url("../src/assets//icons/search.svg") no-repeat left;
}

span.typing{
  background-position: 15px;
  background: url("../src/assets//icons/close_black.svg") no-repeat left;
}

img.filter-img {
  width: 20px!important;
}

.rounded-hard {
  border-radius: 1.5em;
}

.page-numbers {
  list-style: none;
  cursor: pointer;
}

.page-number:hover {
  color: var(--red);
}

.pokemon-image {
  top: 25%;
  max-width: 100px !important;
  user-select: none;
}

.pokemon-bio:hover > div > div > div > img {
  animation: jump 0.5s linear alternate infinite;
}

@keyframes jump {
  0% {
    transform: translate3d(0, 10px, 0) scale3d(1, 0.95, 1);
  }

  50% {
    transform: translate3d(0, 0px, 0) scale3d(1.03, 1.03, 1);
  }

  100% {
    transform: translate3d(0, 10px, 0) scale3d(1.05, 1.05, 1);
  }
}
